.sp ,.span2
{
    color: orange;
    text-decoration: underline;
    text-decoration-color: orange;
}

.h3
{
    text-decoration: underline;
}

.span3
{
    background-color: yellow;
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;

}
.s1
{
    color: red;
    text-decoration: underline;
    text-decoration-color:red ;
    
}