body{
    background-color:wheat;
}

d{
    margin: 0 20% 0 20%;


}

.h1
{
    background-color: yellowgreen;
    margin-bottom: 0%;
    padding-bottom: 50px;
}

.article
{
    float: left;
    width: 70%;
    background-color: white;
    height: 100vh;
    

}

.aside
{
    float: left;
    background-color: gray;
    width: 30%;
    height: 100vh;
}
